<div style="margin-top: 20px;text-align: center;">
    <h3> Welcome </h3>
</div>



<div style="margin-top: 50px;justify-content: center;" class="row">
    <div routerLink="/projects" class="col-md-2">
      <div class="info info-orange">
        <div class="header">Projects</div>
        <!-- <span>5</span> -->
        
      </div>
    </div>
  
    <div routerLink="/people" class="col-md-2">
      <div class="info info-green">
        <div class="header">Users</div>
        <!-- <span>5</span> -->
        
      </div>
    </div>
  
  
    <div routerLink="/issues" class="col-md-2">
      <div class="info info-brown">
        <div class="header">Bugs</div>
        <!-- <span>5</span> -->
       
      </div>
    </div>
  
    <!-- <div class="col-md-3">
      <div class="info info-blue">
        <div class="header">To be Fixed</div>
        <!-- <span>5</span> -->
        
      <!-- </div>
    </div> -->
  </div>